{
  "background": "image_path",
  "title": "Aru's Home",
  "links": [
    {
      "name": "AruruMoe",
      "url": "url1",
      "icon": "image_path1"
    },
    {
      "name": "name2",
      "url": "url2",
      "icon": "image_path2"
    },
  ]
}
